.leaflet-marker-pane {
  text-align: center;
  cursor: pointer;
}
.leaflet-popup-content-wrapper {
  cursor: default;
  text-align: center !important;

  .leaflet-popup-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .noRefMarker > div {
    display: flex;
    justify-content: space-between;
    gap: 5px;
  }
}
